<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-button
      href="./characters/#Inicio"
      fill="clear"
      class="ion-text-center"
      color="dark"
    >
      <ion-title class="ion-text-center MyTitle"
        >{{"MENUMAIN.CHARACTERS"|translate}}</ion-title
      >
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content>
  <!-- !        F  I L T E R   ....          -->
  <div class="filters">
    <app-filter
      (urlSearch)="Search($event)"
      [evUpdateFilters]="evResetValues"
    ></app-filter>
  </div>

  <!-- !        Characteres Render....          -->

  <ion-list id="Inicio" [inset]="true" class="container">
    @for (char of allCharacters; track char.id) {
    <ion-item class="item">
      <app-character
        [character]="char"
        [isFavorite]="getIfIsFavorite(char.id)"
      ></app-character>
    </ion-item>
    } @empty {
    <ion-card>
      <ion-card-header>
        <ion-card-title color="danger">SIN REGISTROS</ion-card-title>
        <ion-card-subtitle>Error...</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-text> Algo Fallo al momento de obtener los registros... </ion-text>
      </ion-card-content>
    </ion-card>
    }
    <ion-infinite-scroll (ionInfinite)="LoadMore($event)">
      <ion-infinite-scroll-content
        loadingText='{{"Shared.LoadingMore" | translate}}'
        loadingSpinner="dots"
      >
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-list>
</ion-content>
