<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start"> </ion-menu-button>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card button [routerLink]="['/characters']">
    <ion-card-header>
      <ion-img src="./../../../assets/Imgs/characterPosterImg.png"> </ion-img>
      <ion-title color="test"
        >{{"MENUMAIN.CHARACTERS" | translate }}</ion-title
      >
      <ion-card-subtitle>
        {{"Main.DescriptionCharacters" | translate}}
      </ion-card-subtitle>
    </ion-card-header>
  </ion-card>
  <ion-card button>
    <ion-card-header>
      <ion-img src="./../../../assets/Imgs/gameKnowledgeImg.png"> </ion-img>
      <ion-title color="warning"
        >{{"MENUMAIN.GAMES" | translate }}::: COMING SOON</ion-title
      >
      <ion-card-subtitle
        >{{"Main.DescriptionGames" | translate}}</ion-card-subtitle
      >
    </ion-card-header>
  </ion-card>


<!--   <app-characters></app-characters>
 -->


</ion-content>
