<ion-toolbar>
  <ion-menu-button slot="end"></ion-menu-button>
  <ion-title class="ion-text-center"
    >{{"Shared.Details" | translate}} of {{character.name}}</ion-title
  >
  @if(backToFavorites){
  <ion-button fill="clear" slot="start" [routerLink]="['/favorites']">
    <ion-icon name="chevron-back-outline"></ion-icon>
    {{"MENUMAIN.FAVORITES" | translate }}
  </ion-button>
  }@else{
  <ion-button fill="clear" slot="start" [routerLink]="['/characters']">
    <ion-icon name="chevron-back-outline"></ion-icon>
    {{"Shared.Back"|translate}}
  </ion-button>
  }
</ion-toolbar>

<ion-content>
  <ion-card [hidden]="isLoading" class="ion-align-self-center">
    <img
      [alt]="character.name"
      class="ImgCharacter ion-padding"
      [src]="character.image"
    />
    <ion-card-header>
      <ion-card-title>
        {{"CharactersPage.AboutCharacters.Name" | translate}} :
        {{character.name}}</ion-card-title
      >
    </ion-card-header>
    <ion-card-content>
      <ion-label>
        {{"CharactersPage.AboutCharacters.Status" | translate}} :
        <ion-label>{{character.status}}</ion-label>
      </ion-label>

      <br />
      <ion-label>
        {{"CharactersPage.AboutCharacters.Specie" | translate}} :
        {{character.status}}
      </ion-label>

      <br />
      <ion-label>
        {{"CharactersPage.AboutCharacters.Type" | translate}}: {{character.type
        === '' ? 'Empty' : character.type}}
      </ion-label>

      <br />
      <ion-label>
        {{"CharactersPage.AboutCharacters.Gender" | translate}}:
        <ion-label> {{character.gender}}</ion-label>
      </ion-label>

      <br />
      <ion-label>
        {{"CharactersPage.AboutCharacters.PlanetOrigin" | translate}}:
        <ion-label color="success"> {{character.origin.name}}</ion-label>
      </ion-label>

      <br />
      <ion-label>
        {{"CharactersPage.AboutCharacters.UltimateLocation" | translate}}:
        <ion-label color="success"> {{character.location.name}}</ion-label>
      </ion-label>
    </ion-card-content>
  </ion-card>

  @if(isLoading){
  <ion-skeleton-text
    animated
    style="width: 100%; height: 300px"
  ></ion-skeleton-text>
  <ion-card-header>
    <ion-skeleton-text
      animated
      style="width: 60%; height: 30px"
    ></ion-skeleton-text>
  </ion-card-header>
  <ion-card-content>
    <ion-skeleton-text
      animated
      style="width: 80%; height: 20px"
    ></ion-skeleton-text>
    <br />
    <ion-skeleton-text
      animated
      style="width: 50%; height: 20px"
    ></ion-skeleton-text>
    <br />
    <ion-skeleton-text
      animated
      style="width: 70%; height: 20px"
    ></ion-skeleton-text>
    <br />
    <ion-skeleton-text
      animated
      style="width: 60%; height: 20px"
    ></ion-skeleton-text>
    <br />
    <ion-skeleton-text
      animated
      style="width: 80%; height: 20px"
    ></ion-skeleton-text>
    <br />
    <ion-skeleton-text
      animated
      style="width: 40%; height: 20px"
    ></ion-skeleton-text>
  </ion-card-content>
  }
</ion-content>
