// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
  --ion-color-detailgreen: #365e32;
  --ion-color-detailgreen-rgb: 54, 94, 50;
  --ion-color-detailgreen-contrast: #ffffff;
  --ion-color-detailgreen-contrast-rgb: 255, 255, 255;
  --ion-color-detailgreen-shade: #30532c;
}

.ion-color-detailgreen {
  --ion-color-base: var(--ion-color-detailgreen);
  --ion-color-base-rgb: var(--ion-color-detailgreen-rgb);
  --ion-color-contrast: var(--ion-color-detailgreen-contrast);
  --ion-color-contrast-rgb: var(--ion-color-detailgreen-contrast-rgb);
  --ion-color-shade: var(--ion-color-detailgreen-shade);
  --ion-color-tint: var(--ion-color-detailgreen-tint);
}
