// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
	--ion-color-test: #05f038;
	--ion-color-test-rgb: 5,240,56;
	--ion-color-test-contrast: #000000;
	--ion-color-test-contrast-rgb: 0,0,0;
	--ion-color-test-shade: #04d331;
	--ion-color-test-tint: #1ef24c;
}

.ion-color-test {
	--ion-color-base: var(--ion-color-test);
	--ion-color-base-rgb: var(--ion-color-test-rgb);
	--ion-color-contrast: var(--ion-color-test-contrast);
	--ion-color-contrast-rgb: var(--ion-color-test-contrast-rgb);
	--ion-color-shade: var(--ion-color-test-shade);
	--ion-color-tint: var(--ion-color-test-tint);
}
