<ion-menu contentId="main-content" type="push">
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-title class="ion-text-center">RC. Guide</ion-title>
      <hr class="lineDivisor" />
      <ion-button fill="clear" slot="end" (click)="btnThemePush()">
        @if (isDark) {
        <ion-icon color="warning" name="sunny-outline"></ion-icon>
        } @else {
        <ion-icon color="primary" name="moon-outline"></ion-icon>
        }
      </ion-button>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding ion-no-border">
    <ion-list>
      <!--                ! home    -->

      <ion-item button [routerLink]="['/home']">
        <ion-icon slot="start" name="home-outline"></ion-icon>
        {{"MENUMAIN.HOME" |translate}}</ion-item
      >
      <!--                ! characters    -->

      <ion-item button [routerLink]="['/characters']">
        <ion-icon color="danger" slot="start" name="telescope"></ion-icon>
        {{"MENUMAIN.CHARACTERS" |translate}}</ion-item
      >
      <!--                ! GAMES     -->

      <ion-item button class="goGame">
        <ion-icon
          slot="start"
          color="warning"
          name="game-controller"
        ></ion-icon>
        {{"MENUMAIN.GAMES" | translate}}</ion-item
      >
      <!--                !  FAVORITES   -->

      <ion-item
        button
        [routerLink]="['/favorites']"
        [disabled]="totalFavorites===0"
      >
        <ion-icon color="success" slot="start" name="bookmark"></ion-icon>
        {{"MENUMAIN.FAVORITES" | translate}}
        <ion-badge slot="end" [color]="totalFavorites >0 ? 'medium' : 'danger'"
          >{{totalFavorites }}
        </ion-badge>
      </ion-item>

      <!--                ! OFICIAL SERIE -->
      <ion-item
        button
        (click)="openOficialSite()"
        class="ion-margin-top ion-margin-horizontal"
      >
        <ion-icon
          color="primary"
          slot="start"
          name="play-circle-outline"
        ></ion-icon>
        <ion-label>{{"MENUMAIN.LinkOficialSerie" | translate}}</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>

  <ion-footer class="ion-no-border ion-text-center">
    <ion-toolbar>
      <ion-select
        class="ion-padding"
        [(ngModel)]="selectedLanguage"
        [ngModelOptions]="{standalone:true}"
        (ionChange)="changeLang()"
        interface="popover"
      >
        <div slot="start">
          <ion-icon color="primary" name="language-outline"></ion-icon>
        </div>
        @for (lang of languages; track $index) {
        <ion-select-option [value]="lang.value"
          >{{lang.name}}</ion-select-option
        >
        }
      </ion-select>
    </ion-toolbar>
  </ion-footer>
</ion-menu>
